In [18]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")

totals_df = (

    daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")

)
totals_df = totals_df.rename(columns={"index": "condition"})


countries_df = daily_df[["Country_Region", "Confirmed", "Deaths", "Recovered"]]
countries_df = countries_df.groupby("Country_Region").sum().reset_index()

countries_df

           Country_Region  Confirmed  Deaths  Recovered
0             Afghanistan     209451    7896        0.0
1                 Albania     334457    3598        0.0
2                 Algeria     271496    6881        0.0
3                 Andorra      47890     165        0.0
4                  Angola     105288    1933        0.0
..                    ...        ...     ...        ...
196    West Bank and Gaza     703228    5708        0.0
197  Winter Olympics 2022        535       0        0.0
198                 Yemen      11945    2159        0.0
199                Zambia     343135    4057        0.0
200              Zimbabwe     264276    5671        0.0

[201 rows x 4 columns]